body {
  margin: 0;
  background-color: #5d6d7e;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

button {
  background-color: #aed6f1;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

main {
  background-color: #090222;
  padding: 1rem;
}

footer {
  background-color: #090222;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 1536px;
  margin: auto;
  justify-content: space-between;
}

.logoyugi {
  width: 15rem;
  height: 5rem;
}

.links-button {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu {
  display: none;
}

.hero {
  display: flex;
  gap: 5rem;
  justify-content: center;
  max-width: 1536px;
  margin: 0 auto;
  padding: 2rem 0;
}

.faraoninfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  gap: 0.25rem;
}

.titledescription {
  font-size: 1.25rem;
  margin: 0;
  line-height: 1.25rem;
}

.faraonimg {
  display: flex;
  justify-content: center;
  width: 30%;
}
.yamimage {
  height: 17rem;
}
.faraon {
  width: 100%;
  height: 100%;
}

.principalcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1536px;
  margin: 0 auto;
}

.personalcards {
  display: flex;
  width: 75%;
  height: 5rem;
}

.personalcards p {
  font-size: 1.75rem;
  font-weight: 700;
}

.specificgame {
  display: flex;
  justify-content: center;
  max-width: 1536px;
  margin: 0 auto;
}

.specificgame p {
  font-weight: 600;
  width: 80%;
}

.friends {
  display: flex;
  justify-content: center;
  max-width: 1536px;
  margin: 0 auto;
}

.friendscontainer {
  display: flex;
  width: 80%;
  padding: 1rem;
}

.milenialart {
  height: 20rem;
}

.milenialimg {
  height: 100%;
  width: 100%;
}

.friendstext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45rem;
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 0 auto;
}

.Getstart {
  display: flex;
  justify-content: center-;
  width: 6rem;
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 75%;
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  padding: 2rem;
  border: 2px #090222 solid;
  border-radius: 1rem;
  height: 28rem;
  gap: 1rem;
  background-color: #aa7f4b;
}

.titlecard {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0.25rem;
}

.magicdarkimg {
  height: 12rem;
  width: 13rem;
  border: 1px #090222 solid;
  background-color: #008b93;
}

.magiccard {
  width: 100%;
  height: 100%;
}

.description-card {
  border: 1px #090222 solid;
  padding: 0.55rem;
  background-color: #f8ca93;
}

.infocard p {
  margin-top: 0.25rem;
}

.infocard {
  width: 15rem;
  height: 10rem;
  border-bottom: 2px #090222 solid;
}

.atk-def {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  gap: 1rem;
}

.atk-def p {
  margin: 0;
}
.footer {
  max-width: 1536px;
  margin: 0 auto;
  padding: 2rem;
}

.footercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footertext {
  color: #ffff;
  font-size: 1rem;
}

.contentwebsites {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 18rem;
  height: 8rem;
  background-color: #5d6d7e;
  border-radius: 1rem;
}

.website a {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

@media (max-width: 900px) {
  .links {
    display: none;
  }
  .menu {
    display: unset;
    width: 4rem;
    height: 4rem;
  }
  .faraoninfo {
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .specificgame p {
    font-size: 2.75rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
  .titledescription {
    font-size: 1rem;
  }

  .hero {
    gap: 2rem;
  }

  .faraonimg {
    width: 40%;
  }

  .personalcards p {
    font-size: 1.5rem;
  }

  .cards {
    overflow-x: scroll;
  }

  .specificgame p {
    font-size: 1rem;
  }

  .friendscontainer {
    flex-direction: column;
  }

  .friendstext {
    width: 27rem;
  }

  .descriptionyugi {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .logoyugi {
    width: 10rem;
    height: 5rem;
  }
  .link {
    display: none;
  }

  .menu {
    width: 3rem;
    height: 3rem;
    display: unset;
  }

  .hero {
    gap: 1rem;
  }

  .faraoninfo {
    width: 50%;
  }

  .title {
    font-size: 1rem;
  }
  .titledescription {
    font-size: 0.75rem;
  }

  .description {
    text-align: center;
    height: 5rem;
    margin-bottom: 0;
  }
  .faraonimg {
    height: 15rem;
    width: 15rem;
  }

  .personalcards p {
    font-size: 1rem;
  }

  .cards {
    overflow-x: scroll;
  }

  .card {
    width: 11rem;
    height: 24rem;
    padding: 1rem;
  }

  .description-card {
    height: 9rem;
  }

  .magicdarkimg {
    width: 10rem;
    height: 10rem;
  }

  .typecard {
    font-size: 12px;
  }

  .specificcard {
    font-size: 10px;
  }

  .infocard {
    width: 10rem;
    height: 7rem;
  }

  .specificgame p {
    font-size: 1rem;
  }
  .Getstart {
    display: none;
  }

  .friendscontainer {
    flex-direction: column;
  }

  .friendstext {
    width: 20rem;
  }

  .website {
    width: 5rem;
  }
}

@media (max-width: 400px) {
  button {
    padding: 0.75rem;
  }
  .card {
    height: 21rem;
    padding: 1rem;
    width: 11rem;
  }

  .magicdarkimg {
    height: 8rem;
  }

  .infocard {
    height: 6rem;
  }

  .typecard {
    font-size: 11px;
    font-weight: 600;
  }

  .specificcard {
    font-size: 10px;
  }

  .logoyugi {
    width: 5rem;
    height: 3rem;
  }
  .friendstext {
    width: 15rem;
  }
  .website a {
    width: 3rem;
  }

  .website {
    width: 4.5rem;
    height: 7rem;
    padding: 0.25rem;
  }

  .website p {
    font-size: 0.75rem;
  }

  .atk-def {
    gap: 0.25rem;
  }
}

@media (min-width: 300px) {
  .cards {
    overflow-y: hidden;
  }
}
