body {
  margin: 0;
  background-color: #5d6d7e;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

button {
  background-color: #aed6f1;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

main {
  background-color: #090222;
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 1536px;
  margin: auto;
  justify-content: space-between;
}

.logoyugi {
  width: 15rem;
  height: 5rem;
}

.links-button {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu {
  display: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  max-width: 1536px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.faraoninfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  gap: 0.25rem;
}

.titledescription {
  font-size: 1.25rem;
  margin: 0;
  line-height: 1.25rem;
}

.faraonimg {
  display: flex;
  justify-content: center;
  width: 30%;
}
.yamimage {
  width: 25rem;
  height: 20rem;
}
.faraon {
  width: 100%;
  height: 100%;
}

.principalcards {
  display: flex;
  flex-direction: column;
  max-width: 1536px;
  margin: 0 auto;
}

.personalcards {
  display: flex;
  width: 100%;
  height: 5rem;
}

.personalcards p {
  font-size: 1.75rem;
  font-weight: 700;
}

.cards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  padding: 2rem;
  border: 2px #090222 solid;
  border-radius: 1rem;
  height: 35rem;
  gap: 1rem;
  background-color: #aa7f4b;
}

.titlecard {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0.25rem;
}

.magicdarkimg {
  height: 18rem;
  width: 20rem;
  border: 1px #090222 solid;
  background-color: #008b93;
}

.magiccard {
  width: 100%;
  height: 100%;
}

.description-card {
  border: 1px #090222 solid;
  padding: 0.55rem;
  background-color: #f8ca93;
}

.infocard p {
  margin-top: 0.25rem;
}

.infocard {
  width: 20rem;
  height: 10rem;
  border-bottom: 2px #090222 solid;
}

.atk-def {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
}

.specificgame {
  width: 60rem;
  margin-left: 8rem;
}

.friends {
  display: flex;
  justify-content: center;
  height: 24rem;
  margin-top: 1rem;
}

.milenialart {
  height: 22rem;
  width: 36rem;
}

.milenialimg {
  height: 100%;
  width: 100%;
}

.friendstext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 22rem;
  width: 30rem;
  font-size: 18px;
  font-weight: bolder;
}

.descriptionyugi {
  text-align: center;
}

.Getstart {
  display: flex;
  justify-content: center-;
  width: 6rem;
}
.hover {
  height: 30rem;
  background-color: #090222;
}

.texthover {
  display: flex;
  align-items: center;
  height: 9.5rem;
  width: 60rem;
  margin-left: 8rem;
}

.ptext {
  color: #ffff;
  font-size: 26px;
}

.contentwebsites {
  display: flex;
  height: 16rem;
  width: 100%;
}

.websiteserie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 12rem;
  width: 24rem;
  background-color: #5d6d7e;
  margin-left: 8rem;
  border-radius: 10px;
}

.websitegame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  width: 24rem;
  background-color: #5d6d7e;
  margin-left: 10rem;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .links {
    display: none;
  }
  .menu {
    display: unset;
    width: 4rem;
    height: 4rem;
  }
  .faraoninfo {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
  .titledescription {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .logoyugi {
    width: 10rem;
  }
  .link {
    display: none;
  }

  .menu {
    width: 3rem;
    height: 3rem;
    display: unset;
  }

  .faraoninfo {
    width: 50%;
  }

  .title {
    font-size: 1.25rem;
  }
  .titledescription {
    font-size: 1rem;
  }

  .description {
    text-align: center;
    height: 5rem;
    margin-bottom: 0;
  }
  .faraonimg {
    height: 15rem;
    width: 15rem;
  }
  .personalcards {
    text-align: center;
  }
  .principalcards {
    height: 25.5rem;
    overflow-y: auto;
    overflow: hidden;
  }
  .cardsid {
    width: 30rem;
  }
  .specificgame {
    height: 8rem;
    width: 29rem;
    margin-left: 1rem;
  }
  .Getstart {
    display: none;
  }
  .friendstext {
    font-size: 15px;
  }
  .texthover {
    margin-left: 1rem;
    width: 29rem;
  }
  .ptext {
    font-size: 18px;
  }
  .contentwebsites {
    width: 29.5rem;
  }
  .websiteserie {
    display: flex;
    width: 14rem;
    margin-left: 1rem;
  }
  .websitegame {
    display: flex;
    width: 14rem;
    margin-left: 1rem;
  }
  .serielink {
    text-align: center;
    width: 15rem;
  }
  .gamep {
    text-align: center;
  }
}
