@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100;500;900&display=swap');

footer {
  background: linear-gradient(90deg, white -5%, #365ca0, #365ca0, #365ca0, white 105%);
}

#tabs .disable {
  background-color: transparent;
}

#tab {
  position: absolute;
  height: 90%;
  width: 32%;
  left: 3.5px;
  transform: translateY(-3%);
  transition: 0.5s ease;
}

#wrapper div #pokedex:checked ~ label.pokedex button,
#wrapper div #caught:checked ~ label.caught button,
#wrapper div #favorites:checked ~ label.favorites button {
  color: #fff;
}

#pokedex:active {
  background-color: none;
}

#wrapper div #caught:checked ~ #tab {
  left: 33.4%;
}

#wrapper div #favorites:checked ~ #tab {
  left: 66.5%;
}

input[type='radio'] {
  display: none;
}
