body {
  margin: 0;
}

.main-container {
  background-color: #eae5dc;
}

.navbar {
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.25rem 1rem;
  height: 2rem;
}
.iconcar {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconcar:hover {
  transition-duration: 0.5s;
  transform: scale(2, 2);
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 1rem;
}

.menu {
  border: none;
  background-color: #eae5dc;
  font-family: serif;
  cursor: pointer;
  height: 2rem;
}

.menu:hover {
  background-color: #929994;
  transition-duration: 0.5s;
  border: 1px white solid;
  border-radius: 0.25rem;
}

.hero-container {
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.img img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.titlecompany {
  height: 20rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(0);
}
.titlecompany p {
  font-size: 6rem;
  font-weight: 500;
  font-family: serif;
}

.img-video {
  background-color: #e7e2de;
  width: 100%;
  height: 100%;
}

.img-video img {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e7e2de;
}

.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxempty {
  height: 15rem;
  width: 40rem;
}
.boxcontainer {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-primary {
  width: 8rem;
  height: 2rem;
  border: none;
  background-color: #d9d7d2;
  border-radius: 20rem;
  text-align: center;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #8b8a8a;
  transition-duration: 0.5s;
  border: 1px white solid;
}

.button-arrow {
  border: none;
  background-color: #e7e2de;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 1px #d2d1cc;
}

.arrow {
  margin-left: 1rem;
  text-align: center;
}

.button-arrow:hover {
  background-color: #8b8a8a;
  transition-duration: 0.5s;
  border: 1px white solid;
}

.logos {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 5rem;
  height: 4rem;
}

.logo img {
  width: 100%;
  height: 100%;
}

.wetext {
  width: 20rem;
  font-size: 20px;
}
.section5 {
  display: flex;
  background-color: #eff1e8;
}
.imgaccesorihouse {
  height: 41rem;
  width: 41rem;
}
.houselocation {
  width: 100%;
  height: 100%;
}
.textpersonality {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
}
.containerpersonality {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16rem;
}
.textdecoration {
  width: 14rem;
}
.buttoncontactcontainerpersonality {
  border: none;
  background-color: #eff1e8;
  width: 8rem;
  height: 3rem;
  border-bottom: solid 3px #d8dbd2;
}
.arrow {
  margin-left: 1rem;
}
.section6 {
  background-color: #c3c6bb;
  display: flex;
}
.textsala {
  width: 60rem;
}
.buttoncontactsala {
  border: none;
  background-color: #c3c6bb;
  width: 8rem;
  height: 3rem;
  border-bottom: solid 3px #b8bbaf;
}
.arrow {
  margin-left: 1rem;
}
.section7 {
  display: flex;
  background-color: #a1a4a1;
}
.buttoncontactcocina {
  border: none;
  background-color: #a1a4a1;
  width: 8rem;
  height: 3rem;
  border-bottom: solid 3px #929994;
}
.arrow {
  margin-left: 1rem;
}
.section8 {
  background-color: #f0efeb;
  display: flex;
}
.textescritorio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45rem;
  height: 25rem;
}
.imgescritorio {
  width: 38rem;
  height: 25rem;
}
.escritorio {
  width: 100%;
  height: 100%;
}
.section9 {
  background-color: #fffffd;
  height: 18rem;
}
.containernew {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}
.paragraphnew {
  font-size: 32px;
  font-family: serif;
  font-weight: 100;
}
.paragraphdiscoint {
  font-size: 12px;
  color: #b2babb;
}
.emailnew {
  display: flex;
  justify-content: center;
  align-items: end;
}
.inputemail {
  height: 2rem;
  width: 14rem;
  border: none;
}
.buttonsub {
  height: 2.4rem;
  border: none;
}
.titlecompanyfooter {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
.textcompanyfooter {
  font-size: 32px;
}
.footer {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  margin-left: 1rem;
}
.iconsfooter {
  display: flex;
  width: 6rem;
  height: 1rem;
}
.iconsfooter > svg {
  margin-left: 8px;
}
.linksfooter {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}
.link {
  text-decoration: none;
  color: #abb2b9;
}

@media (max-width: 800px) {
  .titlecompany {
    width: 32rem;
  }

  .titlecompany p {
    font-size: 4rem;
  }

  .logo {
    width: 3rem;
    height: 2rem;
  }
}

@media (max-width: 520px) {
  .titlecompany {
    width: 16rem;
  }

  .titlecompany p {
    font-size: 2rem;
  }

  .container-contact {
    flex-direction: column;
  }

  .boxempty {
    width: 100%;
  }

  .boxcontainer {
    padding: 1rem;
    width: 85%;
  }

  .wetext {
    width: 100%;
    font-size: 0.75rem;
  }

  .logo {
    height: 2rem;
  }
}
