/* *{
  border: solid red 1px;
} */

body {
  margin: 0;
}

main {
  background-color: #f1eade;
}

p {
  color: #51200e;
  font-family: cursive;
  font-size: 1rem;
  line-height: 1.75rem;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 1536px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg {
  width: 5.5rem;
  height: 5.5rem;
}
.links {
  width: 90%;
  display: flex;
}

.a-link {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.link {
  color: #51200e;
  font-size: 1rem;
  text-decoration: none;
}

.started {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.started button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  background-color: #51200e;
  color: #f1eade;
}

.icon-menu svg {
  display: none;
}

.container-text {
  max-width: 1536px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 20rem;
}

.contentimg img {
  width: 100%;
  height: 100%;
}

.ring-story {
  width: 30%;
}

.elenco-story {
  background: linear-gradient(#f1eade, #9a2d01d3);
  padding-bottom: 5rem;
  position: relative;
}

.video {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-video {
  padding: 1rem;
  position: absolute;
  transform: translateY(-50%);
}

.img-video img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.linkshover {
  max-width: 1536px;
  margin: 0 auto;
  padding-top: 17rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  height: 4rem;
}

.linkshover a {
  color: #f1eade;
  text-decoration: none;
  font-size: 1.25rem;
}

.textpersonages p {
  display: flex;
  justify-content: center;
  color: #f1eade;
  font-size: 2rem;
}

.personages {
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}

.name-elenco {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 35%;
  height: 20rem;
  overflow-y: scroll;
  border: 0.1rem solid #f1eade;
}

.description-name {
  padding: 0.5rem;
  background-color: #f1eade;
  border-radius: 0.25rem;
}

#name1 {
  color: #51200e;
}

#name {
  color: #f1eade;
  margin: 0;
}

.imgperson {
  width: 75%;
}

.imgperson img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.trilogy-movies {
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titlemovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.resumen a {
  color: #51200e;
  text-decoration: none;
  font-size: 1.75rem;
}

.poster-movies {
  padding: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.movies {
  width: 20%;
}

.movie {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.new-serie {
  background: linear-gradient(#2e0d01, #f1845e);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.content-serie {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.series {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: center;
  flex-direction: column;
}

.series p {
  color: #f1eade;
  font-size: 1.25rem;
  font-weight: 900;
}

.series a {
  text-decoration: none;
  color: #f1eade;
  font-size: 1.25rem;
}

.img-container {
  width: 50%;
}

.img-series img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: -2rem;
  background: linear-gradient(#f1845e, #2e0d01);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10rem;
}

.footer-settings {
  display: flex;
  gap: 1rem;
}

.footer-line {
  display: flex;
  justify-content: center;
}

.footer-line div {
  border: solid #f1eade 1px;
  width: 80%;
}

.linkicons {
  display: flex;
  justify-content: space-around;
  height: 10rem;
  align-items: center;
}

.svg a {
  color: #f1eade;
  font-size: 4rem;
}

@media (max-width: 1000px) {
  .container-text {
    flex-direction: column;
    gap: 1rem;
  }
  .ring-story {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .new-serie {
    align-items: center;
    gap: 0.75rem;
  }

  .img-series {
    width: 100%;
  }

  .series {
    width: 100%;
  }

  .series p {
    font-size: 0.75rem;
  }

  .series a {
    font-size: 0.75rem;
  }

  .linkshover {
    display: none;
  }
  .textpersonages {
    padding-top: 14rem;
  }

  .personages {
    flex-direction: column-reverse;
  }

  .imgperson {
    width: 90%;
  }

  .name-elenco {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .poster-movies {
    gap: 1rem;
  }

  .movies {
    width: 14rem;
  }
}

@media (max-width: 663px) {
  .links {
    display: none;
  }

  .started {
    display: none;
  }

  .icon-menu svg {
    display: unset;
    width: 4rem;
    height: 3rem;
    color: #51200e;
  }

  .P {
    font-size: 18px;
  }
  .textelenco {
    display: none;
  }
  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    border: solid;
    border-radius: 10px;
    border-color: #f1eade;
  }
}

@media (max-width: 600px) {
  .container-text {
    padding-bottom: 12rem;
  }
}

@media (max-width: 520px) {
  .textpersonages p {
    font-size: 1rem;
  }

  .content-serie {
    flex-direction: column;
  }

  .img-series {
    width: 20rem;
    height: 10rem;
  }

  .new-serie {
    height: 20rem;
    flex-direction: column-reverse;
  }

  .container-text {
    padding-bottom: 10rem;
  }

  .linkshover {
    padding-top: 10rem;
  }

  .P {
    font-size: 28px;
  }
  .personages {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .textelenco {
    margin-bottom: 1rem;
    width: 29.5rem;
  }
  .titlemovies p {
    font-size: 1.75rem;
    line-height: 1.75;
    text-align: center;
  }

  .poster-movies {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .movies {
    width: 18rem;
  }
}

@media (max-width: 300px) {
  .img-series {
    width: 16rem;
    height: 5rem;
  }

  .linkshover {
    display: none;
  }
  .textpersonages {
    padding: 5rem 0 2rem 0;
  }

  .textpersonages p {
    font-size: 1rem;
  }

  .name-elenco {
    width: 90%;
    height: 12rem;
  }

  #name1 {
    font-size: 0.75rem;
  }

  #name {
    font-size: 0.75rem;
  }

  .imgperson {
    width: 100%;
  }
}
