body {
  margin: 0;
}

.section1 {
  background-color: #f1eade;
  height: 40rem;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 1536px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  padding: 2rem;
  width: 10%;
}

.logoimg {
  width: 5.5rem;
  height: 5.5rem;
}
.links {
  width: 90%;
  display: flex;
}

.a-link {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.link {
  color: #51200e;
}

.started {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.started button {
  padding: 0.5rem;
  border: none;
  background-color: #51200e;
  color: #f1eade;
}

.icon-menu svg {
  display: none;
}

.container-text {
  max-width: 1536px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 20rem;
}

.contentimg img {
  width: 100%;
  height: 100%;
}

.ring-story {
  width: 40%;
}

.elenco-story {
  background-color: #51200e;
  padding-bottom: 5rem;
  position: relative;
}

.video {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-video {
  padding: 1rem;
  position: absolute;
  transform: translateY(-50%);
}

.img-video img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.linkshover {
  padding-top: 17rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  height: 4rem;
}

.linkshover a {
  color: #f1eade;
  text-decoration: none;
  font-size: 1.25rem;
}

.textpersonages p {
  display: flex;
  justify-content: center;
  color: #f1eade;
  font-size: 2rem;
}

.personages {
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}

.name-elenco {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 35%;
  height: 20rem;
  overflow-y: scroll;
  border: 0.1rem solid #f1eade;
}

.description-name {
  padding: 0.5rem;
  background-color: #f1eade;
  border-radius: 0.25rem;
}

#name1 {
  color: #51200e;
}

#name {
  color: #f1eade;
  margin: 0;
}

.imgperson {
  width: 75%;
}

.imgperson img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.trilogy-movies {
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titlemovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.resumen a {
  color: #51200e;
  text-decoration: none;
}

.poster-movies {
  padding: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.movies {
  width: 20%;
}

.movie {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

@media (max-width: 1000px) {
  .container-text {
    flex-direction: column;
    gap: 1rem;
  }
  .navbar {
    display: flex;
    min-width: 30rem;
  }
  .link {
    text-decoration: none;
    height: 2rem;
  }
  .section2 {
    display: none;
  }
  .section3 {
    height: 20rem;
  }
  .linkshover {
    display: none;
  }
  .P {
    font-size: 28px;
  }
  .personages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textelenco {
    margin-bottom: 1rem;
    width: 29.5rem;
  }
  .imgperson {
    width: 29.5rem;
  }
  .trilogyp {
    font-size: 18px;
  }
  .section4 {
    overflow-y: scroll;
    overflow: hidden;
  }
}

@media (max-width: 800px) {
  .linkshover {
    display: none;
  }
  .textpersonages {
    padding-top: 14rem;
  }

  .personages {
    flex-direction: column-reverse;
  }

  .imgperson {
    width: 90%;
  }

  .name-elenco {
    width: 70%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 663px) {
  .links {
    gap: 1rem;
  }

  .started {
    gap: 1rem;
  }

  .icon-menu svg {
    display: unset;
    width: 4rem;
    height: 3rem;
    color: #51200e;
  }

  .P {
    font-size: 18px;
  }
  .textelenco {
    display: none;
  }
  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border: solid;
    border-radius: 10px;
    border-color: #f1eade;
  }
}

@media (max-width: 600px) {
  .container-text {
    padding-bottom: 12rem;
  }
}

@media (max-width: 520px) {
  .container-text {
    padding-bottom: 10rem;
  }

  .linkshover {
    padding-top: 10rem;
  }

  .P {
    font-size: 28px;
  }
  .personages {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .textelenco {
    margin-bottom: 1rem;
    width: 29.5rem;
  }
  .titlemovies p {
    font-size: 0.75rem;
    line-height: 1.75;
    text-align: center;
  }

  .poster-movies {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .movies {
    width: 10rem;
  }
}

@media (max-width: 300px) {
  .linkshover {
    display: none;
  }
  .textpersonages {
    padding: 5rem 0 2rem 0;
  }

  .textpersonages p {
    font-size: 1rem;
  }

  .name-elenco {
    width: 90%;
    height: 12rem;
  }

  #name1 {
    font-size: 0.75rem;
  }

  #name {
    font-size: 0.75rem;
  }

  .imgperson {
    width: 100%;
  }
}
